/* Setting the colour themes as var. */
:root {
  --dark-grey: #323341;
  --aqua: rgb(151, 204, 204);
  --white: #ffffff;
  --red: red;
}

body {
  background-color: var(--white);
}

header {
  padding: 10px;
  font-family: Arial, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
  background-color: var(--dark-grey);
}

header h1 {
  padding: 5px;
  padding-left: 25px;
  margin-left: 0;
  display: inline-block;
  font-size: 45px;
  background-color: var(--aqua);
  color: var(--dark-grey)
}

header nav {
  padding-top: 15px;
  margin-right: 40px;
  float: right;
  font-family: 'Trebuchet MS', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: var(--aqua);
  text-decoration: underline;
}

header nav a:hover {
  color: var(--white);
}

.hero-banner {
  height: 180px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../Images/shapelined.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-box {
  text-align: right;
  position: absolute;
  left: 45%;
  font-size: 30px;
  color: var(--dark-grey);
  display: flex;
  width: 300px;
  height: 180px;
}

h2 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  width: 25%;
  border-right: 3px solid var(--dark-grey);
  flex: 1 0 15%;
  margin-right: 20px;
  padding: 20px;
  border-left: var(--dark-grey);
  font-family: 'Trebuchet MS', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri;
  font-size: 40px;
}

.title h3 {
  text-align: right;
}

.section {
  display: flex;
  padding: 15px;
}

.section-content {
  padding: 10px;
  flex: 1 0 70%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 10%;
  margin: 10px;
  border: 5px solid var(--aqua);
}

.card p {
  padding: 10px;
  color: var(--dark-grey);
  background-color: var(--aqua);
  position: absolute;
  bottom: 70px;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.horiseon-refactor,
.parking,
.work-day,
.weather-app,
.password {
  display: flex;
  flex: 1 0 50%;
}

.parking {
  background-image: url('../Images/park-with-access.png');
  position: relative;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  /* Set an appropriate height for the card */
  min-height: 500px;
  /* Setting the opacity so that the image will look clearer during the hover state */
  filter: opacity(70%);
}

.horiseon-refactor {
  background-image: url('../Images/challenge-page-screenshot.png');
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Set an appropriate height for the card */
  min-height: 250px;
  /* Setting the opacity so that the image will look clearer during the hover state */
  filter: opacity(70%);
}

.work-day {
  background-image: url('../Images/Work-Day-Scheduler-Screenshot.png');
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Set an appropriate height for the card */
  min-height: 250px;
  /* Setting the opacity so that the image will look clearer during the hover state */
  filter: opacity(70%);
}

.weather-app {
  background-image: url('../Images/Weather-App-Screenshot.png');
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Set an appropriate height for the card */
  min-height: 250px;
  /* Setting the opacity so that the image will look clearer during the hover state */
  filter: opacity(70%);
}

.password {
  background-image: url('../Images/Password-Generator-Screenshot.png');
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Set an appropriate height for the card */
  min-height: 250px;
  /* Setting the opacity so that the image will look clearer during the hover state */
  filter: opacity(70%);
}

/* Opacity 100% at hover state */
.horiseon-refactor:hover,
.parking:hover,
.calculator:hover,
.weather-app:hover,
.password:hover {
  filter: opacity(100%);
}

.contact nav {
  padding: 40px;
  font-family: 'Trebuchet MS', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri;
  font-size: 25px;
}

.contact nav ol li {
  display: inline-block;
  margin-left: 60px;
}

.contact nav a {
  color: var(--dark-grey);
}

.contact nav a:hover {
  background-color: var(--aqua);
  padding: 10px;
  text-decoration: none;
}

.card:hover {
  transition: all 0.5s ease-in-out;
}

.card:hover,
.card:hover .p {
  box-shadow: inset 0px 0px 8px var(--aqua), 0 0 15px var(--aqua);
  border: 1px solid var(--red);
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--dark-grey);
  color: var(--aqua);
  margin-top: auto;
}

/* Setting Media Screen so that the page is responsive with different screen sizes.*/
@media screen and (max-width: 992px) {

  card,
  nav,
  title {
    width: 50%;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {

  main,
  card,
  nav,
  title {
    width: 100%;
    flex-direction: column;
  }
}