:root {
    --dark-grey: #323341;
    --aqua: rgb(151, 204, 204);
    --white: #ffffff;
}

body {
    background-color: var(--white);
}

header {
    padding: 10px;
    font-family: Arial, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    background-color: var(--dark-grey);
}

header h1 {
    padding: 5px;
    padding-left: 25px;
    margin-left: 0;
    display: inline-block;
    font-size: 45px;
    background-color: var(--aqua);
    color: var(--dark-grey)
}

header nav {
    padding-top: 15px;
    margin-right: 40px;
    float: right;
    font-family: 'Trebuchet MS', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--aqua);
    text-decoration: underline;
}

.hero-banner {
    height: 180px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Images/shapelined.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-text {
    padding: 10px;
    text-align: right;
    position: absolute;
    top: 70%;
    left: 80%;
    font-size: 25px;
    color: var(--dark-grey);
    background-color: var(--aqua);
  }

  /* .info-titles {
    margin-right: 20px;
    padding: 20px;
    float: left;
    width: 20%;
    height: 100%;
    border-left: var(--dark-grey);
    font-family: 'Trebuchet MS', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 40px;
  } */

  .title {
    width: 25%;
    border-right: 1px solid black;
    flex: 1 0 15%;
    margin-right: 20px;
    padding: 20px;
    border-left: var(--dark-grey);
    font-family: 'Trebuchet MS', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 40px;
  }

  .title h3 {
    text-align: right;
  }

  .section {
    display: flex;
    border: 1px solid red;
    padding: 15px;
  }

  .section-content {
    padding: 10px;
    flex: 1 0 70%;
  }

  /* .info-me, .info-work, .info-contact {
    display: block;
    color: var(--dark-grey);
  }

  .info-me {
    margin-bottom: 450px;
  }

  .info-work {
    margin-bottom: 600px;
  }

  .info-me h3, .info-work h3, .info-contact h3 {
    margin-bottom: 10px;
    text-align: right;
  } */

  /* .work {
    flex: 1;
    background-color: var(--light);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  } */

  /* .horiseon-refactor img {
    display: flex;
    flex: 1 0 10%;
  } */

  .card {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 10%;
    margin: 10px;
  }
  
  .h4 {
    padding: 20px;
    color: var(--dark-grey)
    background-color: var(--aqua);
    border: 1px solid red;
  }
  
  /* .card p {
    text-align: center;
    margin-left: 100px;
  } */

  .horiseon-refactor, .led-wall, .calculator, .pastel-puzzels, .run-buddy {
    display: flex;
    flex: 1 0 50%;
  }

  .horiseon-refactor img, .led-wall img, .calculator img, .pastel-puzzels img, .run-buddy img {
    display: flex;
    flex: 1 0 50%;
    height: 50%;
    width: 100%;
  }

  .horiseon-refactor {
    background-image: url('../Images/challenge-page-screenshot.png');
    position: relative;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 500px;
  }

  .led-wall {
    background-image: url('../Images/css-book.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px; /* Set an appropriate height for the card */
  }

  .calculator {
    background-image: url('../Images/post-it-notes-patterns.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
  }

  .pastel-puzzels {
    background-image: url('../Images/retrosupply.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
  }

  .run-buddy {
    background-image: url('../Images/website-development.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact nav {
    padding: 15px;
    font-family: 'Trebuchet MS', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 20px;
}

.contact nav ol li {
    display: inline-block;
    margin-left: 25px;
}

  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: var(--dark-grey);
    color: var(--aqua);
    margin-top: auto;
    /* position: fixed; */
  }
  
  @media screen and (max-width: 992px) {
    main, 
    nav {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }